body{
    background-color: lightgreen;
}

.fotografia{
    background-image: url('https://d500.epimg.net/cincodias/imagenes/2018/09/04/lifestyle/1536066298_372959_1536066686_noticia_normal.jpg');
    position:100%;
    background-repeat:no-repeat;
    background-size:cover;
}